<div>
    <h1>DOUANIER</h1>
    <form method="POST" action="/post.html">
        p1=<input type="text" name="p1">
        <!-- <input type="submit" value="post"> -->
            <div class="col-md-6 mb-3">
                <label for="prenom">Prénom</label>
                <input type="text" class="form-control" id ="prenom" placeholder value required>
                <div class="invalid-feedback"Veuillez rentrer un prénom valide</div>
            </div>
            <div class="row">
                <div class="col-md-5 mb-3">
                    <label for="country">Country</label>
                    <select class="custom-select d-block w-100" id="country" required>
                        <option value>Choose..</option>
                        <option>France</option>
                    </select>
                    <div class="invalid-feedback">
                        Please select a valid country
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="country">Country</label>
                    <select class="custom-select d-block w-100" id="country" required>
                        <option value>Choose..</option>
                        <option>France</option>
                    </select>
                    <div class="invalid-feedback">
                        Please select a valid country
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="country">Country</label>
                    <select class="custom-select d-block w-100" id="country" required>
                        <option value>Choose..</option>
                        <option>France</option>
                    </select>
                    <div class="invalid-feedback">
                        Please select a valid country
                    </div>
                </div>
            </div>

            <hr class="mb-4">
            <button type="submit" class="btn btn-primary" value="post">Sign in</button>
    </form>
</div>